body {
    font-family: Rubik, Arial, Helvetica, sans-serif;
    color:#8490A4;
}

.registration {
display: flex;
position: relative;
width: 400px;
margin: auto;
gap: 10px;
margin-top: 200px;
padding: 40px;
border-radius: 20px;
background-color: white;
border: 2px solid #FFCC00;
}

fieldset {
 margin-top: 20px;
 border: none;
}

fieldset > legend {
 font-size: 32px;
 color: #313131;
 margin-bottom: 30px;
}

input {
    margin-bottom: 15px;
    border-radius: 30px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border: 1px solid #8490A4;
}

.active {
    border: 1px solid blue;
}

.table-caption {
    font-size: 13px;
    width: 350px;
}

.continue-button {
    width: 380px;
    height: 50px;
    color: white;
    font-size: 15px;
    border-radius: 32px;
    border-style: none;
    background-color:  #6666FF;
}

.question {
    font-size: 15px;
}

.authorization-link {
    margin-top: 10px;
}

.authorization-link a{
    text-decoration: none;
}

.flower {
    position: absolute;
    left: 34.00%;
    top: 7.00%;
}
