body {
    font-family: Rubik, Arial, Helvetica, sans-serif;
    color:#8490A4;
}

.flower {
    position: absolute;
    left: 34.00%;
    top: 7.00%;
}

.registration {
    position: relative;
    width: 400px;
    margin: auto;
    gap: 10px;
    margin-top: 200px;
    padding: 40px;
    border-radius: 20px;
    background-color: white;
    border: 2px solid #FFCC00;
}

.registration__fieldset {
    margin-top: 20px;
    border: none;
}

.registration__legend {
    font-size: 32px;
    color: #313131;
    margin-bottom: 30px;
}

.registration__input {
    margin-bottom: 15px;
    border-radius: 30px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border: 1px solid #8490A4;
}

.registration__input--active {
    border: 1px solid blue;
}

.registration__caption {
    font-size: 13px;
    width: 350px;
}

.registration__button {
    width: 380px;
    height: 50px;
    color: white;
    font-size: 15px;
    border-radius: 32px;
    border-style: none;
    background-color:  #6666FF;
}

.registration__authorization-text-wrapper {
    margin-top: 10px;
}

.registration__authorization-text {
    font-size: 15px;
}

.registration__authorization-text a {
    text-decoration: none;
}
