body {
    font-family: 'Roboto', 'Arial', 'Helvetica';
    font-size: 16px;
    line-height: 24px;
}

.registration {
position: relative;
width: 380px;
margin: auto;
margin-top: 304px;
padding: 65px;
border-radius: 32px;
background-color: white;
border: 2px solid #FFCC00;
}

fieldset {
 border: none;
}

fieldset > legend {
 font-size: 32px;
 font-weight: 700;
 color: #313131;
 margin-bottom: 16px;
}

.code-caption {
width: 326px;
}

input {
    margin-bottom: 15px;
    width: 350px;
    border-radius: 40px;
    padding: 15px;
    border: 1px solid  #ADADAD;
}

input::placeholder,
.re-request {
    font-size: 14px;
    line-height: 150%;
    color: #ADADAD
}

.continue-button {
    width: 380px;
    height: 51px;
    color: white;
    font-size: 16px;
    border-radius: 32px;
    border-style: none;
    background-color:  #6666FF;
    margin-bottom: 16px;
}

.picture {
    position: absolute;
    left: 57.00%; 
    top: 40.00%;
    z-index: -1;
}